
/*start header*/
header{
	/* background-image:url('../images/bg4.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left; */
}
/* section{
	background-image: url('../images/bgpizza2.jpg');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: cover;
} */
.header-div{
	max-width: 1170px;
	width: 100%;
    display: flex;
	justify-content: space-between;
    align-items: center;
	margin:  auto;
	padding: 30px 0;
	padding-bottom: 100px;
	/* background-image:url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left; */
	
	
}
.ul{
	display: flex;
	align-items: center;
}
.li{
	margin-right: 50px;
}

.a{
color: #8D8D8D;
font-size: 20px;
transition: 0.5s;
font-family: 'Josefin Sans', sans-serif;
font-weight:calc(400);
}
.a:hover{
	color: black;
	transition:all 0.5s;
    font-weight:bold;
}
/*end header*/
/* start section 1 */
section{
	/* background-image:url('../images/bgpizza.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left; */
}
.section-1{
    max-width: 1170px;
    width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 150px;
	/* background-image:url('../images/sec1bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left; */
	
}
.div-1{
	width: 586px;
	height: 400px;
}
.sec-1-h1{
	font-size: 70px;
	color: #2C3722;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 40px;
}
.div-1-p{
	width: 550px;
	font-size: 20px;
	color: #636465;
	margin-bottom: 60px;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	line-height: 30px;
}
/* start input */
.input-button{
	width: 520px;
	height: 60px;
}
.input{
	width: 340px;
	height: 60px;
	
	border: none;
	border-radius: 5px;
	padding-left: 20px;
	outline: none;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(400);
	color: #B7B7B7;
	box-shadow: 10px 10px 40px;
	
}
.button{
	width: 150px;
	height: 60px;
	border: none;
	background-color: #8CB560 ;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight:calc(600);
	cursor: pointer;
	transition:all 1s;
}
.button:hover{
	background-color: #70a736;
	transition:all 1s;
}
.div-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.relative{
	position: relative;
	width: 400px;
	height: 400px;
	border: 4px solid #8CB560;
	border-radius: 50%;	
}
.leaf1{
	position: absolute;
	transform: rotate(-85deg);
	top:30%;
	left:-15%;
}
.leaf2{
	position: absolute;
	transform: rotate(5deg);
	top: 35%;
	left: 83%;
}
.leaf3{
    position: absolute;
    transform: rotate(180deg);
    top: -17%;
    left: 32%;
}
.leaf4{
	position: absolute;
	transform: rotate(280deg);
    bottom: -15%;
    left: 32%;
}
.vagetable1{
	position: absolute;
	transform: rotate(-85deg);
	top:40%;
	left:-10%;
}
.vagetable2{
	position: absolute;
	transform: rotate(-90deg);
}
.vagetable3{
	position: absolute;
	transform: rotate(-110deg);
	top: 65%;
	right:0%;
}
.vagetable4{
	position: absolute;
	transform: rotate(-90deg);
	top: -10%;
	right:-5%;
}
.pizza{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
/* end input */
/* end section 1 */
/* start section 2 */
.section-2{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 140px;
}	
.half{
	width: 560px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.half > h5{
	font-size: 28px;
	color: #FEBD00;
	font-family: 'Cookie', cursive;
	padding-bottom: 27px;
}
.title{
	width: 320px;
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 30px;
}
.sec-2-p{
	font-size: 18px;
	color: #545454;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 50px;
	line-height: 30px;
}
.one{
    padding-bottom: 25px;
}
.sec-2-button{
	width: 220px;
	height: 70px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #8CB560;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(600);
	cursor: pointer;
	transition: 1s;
}
.sec-2-button:hover{
	background-color: #619b24;
	transition: 1s;
}
/* end section 2 */

/* start section 3 */
.section-3 {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding-bottom: 140px;
	background-image:url('../images/sec1bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
}
.sec-3-title{
	width: 316px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding-bottom: 60px;
}
.sec-3-title > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 30px;
}
.sec-3-title > h1{
	font-size: 35px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.boxes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box-1{
	width: 370px;
	height: 350px;
	background-color: #F8FBF5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: 1s;
}

.box-1 > div{
	width: 306px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.box-1 > div > h4{
	font-size: 24px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: calc(600);
	padding-top: 30px;
	padding-bottom: 25px;
}
.sec-3-p{
	font-size: 18px;
	color: #545454;
	line-height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(400);
}
.hover:hover{
	background-color: white;
	box-shadow: 5px 5px 10px;
	border-bottom: 5px solid #8DB661;
	cursor: pointer;
}
/* end section 3 */

/* start section 4 */
.section-4{
	max-width: 1170px;
	width: 100%;
	margin: auto;
}
.sec-4-title{
	width: 316px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding-bottom: 60px;
}
.sec-4-title > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 30px;
}
.sec-4-title > h1{
	font-size: 35px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.breakfest{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding-bottom: 50px;
}
.sec-4-menu{
	width: 116px;
	height: 350px;		
}
.ul-li{
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;

	/* background: -webkit-linear-gradient(rgb(153, 240, 160), rgb(247, 250, 50));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	
}
.sec-4-li{
	padding: 10px 0px 35px 0px;
}
.last{
	padding-bottom: 0px;
}
.li-a{
	font-size: 18px;
	color: #979797;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(400);
}
.li-a:hover{
	color: #FEBD00;
}
.sec-4-box1{
	width: 270px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	border-radius: 10px;
	box-shadow: 5px 5px  10px;
	cursor: pointer;
}
.sec-4-box1 > h5{
	font-size: 22px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:calc(600);
}
.chicken{
	width: 260px;
	height: 250px;
	opacity: 1;
	transition: 1s;
}
.chicken:hover{
	opacity: 0.5;
	transition: 1s;
}
.star{
	width: 90px;
	height: 15px;
}
.sec-4-box1 > span{
	font-size: 22px;
	color: #59882B;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:calc(600);
	padding-bottom: 10px;
}
.sec-4-box1 > span::before{
	content:"$";
}
.next{
	max-width: 1170px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
	padding-bottom: 140px;
}
.fa-arrow-left{
	font-size: 22px;
    cursor: pointer;
	color: #212529;
}
.fa-arrow-left:hover{
	color: green;
}
.fa-arrow-right{
	font-size: 22px;
    padding-left: 20px;
	cursor: pointer;
	color: #212529;
}
.fa-arrow-right:hover{
	color: green;
}


/* end section 4 */

/* start section 5 */
.section-5{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 140px;
}
.history{
	width: 560px;
	height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.history >h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 27px;
}
.history >h1{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
	padding-bottom: 30px;
}

/* end section 5 */

/* start section 6 */

.section-6{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding-bottom: 140px;
}
.sec-6-title{
	width: 340px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-bottom: 60px;
}
.sec-6-title >h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 32px;
}
.sec-6-title >h1{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
	
}
/* start box 1 */
.coments{
	display: flex;
	justify-content: space-between;
}
.sec-6-box{
	width: 380px;
	height: 185px;
}
.bg{
	position: relative;
    width: 380px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.bg-image{
	width: 360px;
	height: 120px;
	
}
.text1{
	position: absolute;
	width: 280px;
	height: 60px;
	font-size: 12px;
	line-height: 17px;
	color: #8E8E8E;
	font-family: 'Open Sans', sans-serif;
	font-weight: calc(400);
	
}
.inf{
	width: 320px;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	
}
.ls{
	width: 40px;
	height: 40px;
}
.name{
	font-family: 'Open Sans', sans-serif;
	font-weight: calc(600);
}
.prof{
	color: grey;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	padding-top: 10px;
}
.first{
	margin-top: 40px;
}
/* end box 1 */
/* start box 2 */
.tex{
	position: absolute;
	width: 280px;
	height: 60px;
	font-size: 12px;
	line-height: 17px;
	color: #8E8E8E;
	font-family: 'Open Sans', sans-serif;
	font-weight: calc(400);
}
/* ens box 2 */
/* start box 3 */

.third{
	margin-top: 60px;
}
/* end box 3 */
/* start box 4 */

.fourth{
	margin-top: 40px;

}
/* end box 4 */
/* start box 5 */

.fifth{
	margin-top: 70px;
}
/* end box 5 */
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* start section 7 */
.section-7{
	max-width: 1170px;
	width: 100%;
	margin: auto;
    padding-bottom: 140px;
}
.news{
	width: 236px;
	height: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	
}
.news > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 32px;
}
.news > h1{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
}
.sec-7-boxes{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding-top: 60px;
}
.sec-7-b{
	width: 370px;
	height: 390px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.sec-7-b > h4{
	font-size: 24px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}
.sec-7-b > p{
    width: 350px;
	font-size: 18px;
	color: #545454;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 30px;
}
.sec-7-b > a{
	font-size: 16px;
	color: #FEBD00;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
/* end section 7 */

/* start section 8 */
.section-8{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding-bottom: 150px;
}
.sec-8-box{
	width: 520px;
	height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
.sec-8-title{
	width: 440px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	
}
.sec-8-title > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
}
.sec-8-title > h2{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
}
/* input */
.form{
	display: flex;
	align-items: center;
}
.input-8{
	width: 450px;
	height: 50px;
	border-radius: 50px 0 0 50px;
	box-shadow: 0 3px 20px;
	border: 0px;
	outline: none;
	padding-left: 30px;
	font-size: 18px;
	color: #B7B7B7;
	font-family: 'Poppins', sans-serif;
}
.button-8{
	width: 60px;
	height: 50px;
	border-radius: 0 50px 50px 0;
	border: none;
	background-color: #8CB560;
	box-shadow: 0 5px 20px;
    cursor: pointer;
	transition: all 1s;
}
.button-8:hover{
	transition: 1s;
	background-color: #70a736;
}
/* end section 8 */

/* start footer */
footer{
	height: 512px;
	
	/* background-image:url('../images/sec1bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left; */
	/* display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(97,180,58);
    background: linear-gradient(90deg, rgba(97,180,58,0.2836484935771183) 0%, rgba(69,84,180,0.2024160005799195) 51%, rgba(101,252,69,0.6646008745294993) 100%);
    border-radius: 0% 100% 24% 76% / 4% 55% 45% 96% ; */
}
.footer{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.footer-box1{
	width: 370px;
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-box1 > img{
	width: 84px;
	height: 45px;
}
.footer-box1 > p{
	font-size: 24px;
	color: #585858;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 35px;
}
.social{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #8CB560;
}
.fb{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: #8CB560;
	color: white;
	border-radius: 10px;
}
.fb:hover{
	background-color: #70a736;
}
.footer-menu{
	width: 130px;
}
.tite{
	height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tite > a{
	font-size: 24px;
	color:  #585858;
	font-family: 'Josefin Sans', sans-serif;
}
.footer-tittles{ 	
	font-size: 25px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 20px;
}



/* end footer */