/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


body{
	padding: 0 10px;
}

/* burger */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
	

/* Burger nav button */

.hamburger {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: rgba(0,0,0,0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1000;
  display: none;
}

.burger-bar {
  width: 35px;
  height: 4px;
  background: #222;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.burger-bar:before,
.burger-bar:after {
  content: '';
  width:35px;
  height: 4px;
  background: #222;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.burger-bar::before {
  top: -10px;
}

.burger-bar::after {
  top: 10px;
}

.hamburger.active .burger-bar {
  background: rgba(0,0,0,0);
}

.hamburger.active .burger-bar::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #FFF;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.hamburger.active .burger-bar::after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #FFF;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

/* Nav styling */

.res-nav {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(34 34 34 / 90%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

nav.active {
  visibility: visible;
  opacity: 100;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.nav-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.nav-list.active {
  opacity: 100;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item {
  position: relative;
  font-weight: 100;
  height: 75px;
  display: block;
  z-index: 10;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item h2 {
  color: #FFF;
}
.burger-hover  {
  position: absolute;
  width: 100%;
  height: 0;
  background: #ce0056;
  opacity: 0;
  top: 15%;
  right: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.hover.active {
  height: 22%;
  opacity: 100;
}
/* burger */
/*start header*/
.header-div{
	max-width: 1170px;
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	margin:  auto;
	padding: 30px 0;
	padding-bottom: 100px;
}
.ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.li{
	margin-right: 50px;
}

.a{
color: #8D8D8D;
font-size: 20px;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
font-family: 'Josefin Sans', sans-serif;
font-weight:calc(400);
}
.a:hover{
	color: black;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
/*end header*/
/* start section 1 */
.section-1{
    max-width: 1170px;
    width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 150px;	
}
.div-1{
	width: 586px;
	height: 400px;
}
.sec-1-h1{
	font-size: 70px;
	color: #2C3722;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 40px;
}
.div-1-p{
	width: 550px;
	font-size: 20px;
	color: #636465;
	margin-bottom: 60px;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	line-height: 30px;
}
/* start input */
.input-button{
	width: 520px;
	height: 60px;
}
.input{
	width: 340px;
	height: 60px;
	
	border: none;
	border-radius: 5px;
	padding-left: 20px;
	outline: none;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(400);
	color: #B7B7B7;
	-webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	
}
.button{
	width: 150px;
	height: 60px;
	border: none;
	background-color: #8CB560 ;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight:calc(600);
	cursor: pointer;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}
.button:hover{
	background-color: #70a736;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}
.div-2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.relative{
	position: relative;
	width: 400px;
	height: 400px;
	border: 4px solid #8CB560;
	border-radius: 50%;	
}
.leaf1{
	position: absolute;
	-webkit-transform: rotate(-85deg);
	    -ms-transform: rotate(-85deg);
	        transform: rotate(-85deg);
	top:30%;
	left:-15%;
}
.leaf2{
	position: absolute;
	-webkit-transform: rotate(5deg);
	    -ms-transform: rotate(5deg);
	        transform: rotate(5deg);
	top: 35%;
	left: 83%;
}
.leaf3{
    position: absolute;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    top: -17%;
    left: 32%;
}
.leaf4{
	position: absolute;
	-webkit-transform: rotate(280deg);
	    -ms-transform: rotate(280deg);
	        transform: rotate(280deg);
    bottom: -15%;
    left: 32%;
}
.vagetable1{
	position: absolute;
	-webkit-transform: rotate(-85deg);
	    -ms-transform: rotate(-85deg);
	        transform: rotate(-85deg);
	top:40%;
	left:-10%;
}
.vagetable2{
	position: absolute;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}
.vagetable3{
	position: absolute;
	-webkit-transform: rotate(-110deg);
	    -ms-transform: rotate(-110deg);
	        transform: rotate(-110deg);
	top: 65%;
	right:0%;
}
.vagetable4{
	position: absolute;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	top: -10%;
	right:-5%;
}
.pizza{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);

}
/* end input */
/* end section 1 */
/* start section 2 */
.section-2{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 140px;
}	
.half{
	width: 560px;
	height: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.half > h5{
	font-size: 28px;
	color: #FEBD00;
	font-family: 'Cookie', cursive;
	padding-bottom: 27px;
}
.title{
	width: 320px;
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 30px;
}
.sec-2-p{
	font-size: 18px;
	color: #545454;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 50px;
	line-height: 30px;
}
.one{
    padding-bottom: 25px;
}
.sec-2-button{
	width: 220px;
	height: 70px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #8CB560;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(600);
	cursor: pointer;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.sec-2-button:hover{
	background-color: #619b24;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
/* end section 2 */

/* start section 3 */
.section-3 {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding-bottom: 140px;
	background-position: bottom left;
}
.sec-3-title{
	width: 316px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	padding-bottom: 60px;
}
.sec-3-title > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 30px;
}
.sec-3-title > h1{
	font-size: 35px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.boxes{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.box-1{
	width: 370px;
	height: 350px;
	background-color: #F8FBF5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 10px;
	-webkit-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}

.box-1 > div{
	width: 306px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.box-1 > div > h4{
	font-size: 24px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: calc(600);
	padding-top: 30px;
	padding-bottom: 25px;
}
.sec-3-p{
	font-size: 18px;
	color: #545454;
	line-height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(400);
}
.hover:hover{
	background-color: white;
	-webkit-box-shadow: 5px 5px 10px;
	        box-shadow: 5px 5px 10px;
	border-bottom: 5px solid #8DB661;
	cursor: pointer;
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* end section 3 */

/* start section 4 */
.section-4{
	max-width: 1170px;
	width: 100%;
	margin: auto;
}
.sec-4-title{
	width: 316px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	padding-bottom: 60px;
}
.sec-4-title > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 30px;
}
.sec-4-title > h1{
	font-size: 35px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.sec-4{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sec-4-menu > form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.sec-4-menu > form > select{
	font-size: 40px;
    width: 220px;
	height: 50px;
	color: #59882B;
	border: none;
	outline: none;
	font-family: 'Poppins', sans-serif;
	background-color: transparent;
}
.sec-4-menu > form > select > option{
	font-size: 30px;
	padding-bottom: 20px;
}
.ul-li{
	width: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 50px;
}
.sec-4-li{
	padding: 10px 0px 35px 0px;
}
.last{
	padding-bottom: 0px;
}
.li-a{
	font-size: 18px;
	color: #979797;
	font-family: 'Poppins', sans-serif;
	font-weight: calc(400);
}
.li-a:hover{
	color: #FEBD00;
}
.breakfest{
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	padding-bottom: 50px;
}
.sec-4-box1{
	width: 270px;
	height: 350px;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	margin: auto;
	border-radius: 10px;
	-webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	cursor: pointer;
	margin: 1px 15px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sec-4-box1 > img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sec-4-box1 > h5{
	font-size: 22px;
	text-align: center;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:calc(600);
	width: 100%;
}
.chicken{
	width: 260px;
	opacity: 1;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.chicken:hover{
	opacity: 0.5;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.star{
	width: 90px;
	height: 15px;
}
.sec-4-box1 > span{
	font-size: 22px;
	color: #59882B;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:calc(600);
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
}
.sec-4-box1 > span::before{
	content:"$";
}
.next{
	max-width: 1170px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 30px;
	padding-bottom: 140px;
}
.slider-arrows{
	border: none;
	cursor: pointer;
	background-color: transparent;
	margin-left: 10px;
}
.slider-arrows i{
	font-size: 32px;
	color: #333;
}
.fa-arrow-left:hover{
	color: #59882B;;
}
.fa-arrow-right:hover{
	color: #59882B;;
}
/* end section 4 */

/* start section 5 */
.section-5{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 140px;
}
.history{
	width: 560px;
	height: 480px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.history >h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 27px;
}
.history >h1{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
	padding-bottom: 30px;
}

/* end section 5 */

/* start section 6 */

.section-6{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding-bottom: 140px;
}
.sec-6-title{
	width: 340px;
	height: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	margin-bottom: 60px;
}
.sec-6-title >h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 32px;
}
.sec-6-title >h1{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
	
}
/* start box 1 */
.coments{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sec-6-box{
	width: 380px;
	height: 185px;
}
.bg{
	position: relative;
    width: 380px;
	height: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
}
.bg-image{
	width: 360px;
	height: 120px;
	
}
.text1{
	position: absolute;
	width: 280px;
	height: 60px;
	font-size: 12px;
	line-height: 17px;
	color: #8E8E8E;
	font-family: 'Open Sans', sans-serif;
	font-weight: calc(400);
	
}
.inf{
	width: 320px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	
}
.ls{
	width: 40px;
	height: 40px;
}
.name{
	font-family: 'Open Sans', sans-serif;
	font-weight: calc(600);
}
.prof{
	color: grey;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	padding-top: 10px;
}
.first{
	margin-top: 40px;
}
/* end box 1 */
/* start box 2 */
.tex{
	position: absolute;
	width: 280px;
	height: 60px;
	font-size: 12px;
	line-height: 17px;
	color: #8E8E8E;
	font-family: 'Open Sans', sans-serif;
	font-weight: calc(400);
}
/* ens box 2 */
/* start box 3 */

.third{
	margin-top: 60px;
}
/* end box 3 */
/* start box 4 */

.fourth{
	margin-top: 40px;

}
/* end box 4 */
/* start box 5 */

.fifth{
	margin-top: 70px;
}
/* end box 5 */
.center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/* start section 7 */
.section-7{
	max-width: 1170px;
	width: 100%;
	margin: auto;
    padding-bottom: 140px;
}
.news{
	width: 236px;
	height: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	
}
.news > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
	padding-bottom: 32px;
}
.news > h1{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
}
.sec-7-boxes{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	padding-top: 60px;
}
.sec-7-b{
	width: 370px;
	height: 390px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.sec-7-b > h4{
	font-size: 24px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}
.sec-7-b > p{
    width: 350px;
	font-size: 18px;
	color: #545454;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 30px;
}
.sec-7-b > a{
	font-size: 16px;
	color: #FEBD00;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
/* end section 7 */

/* start section 8 */
.section-8{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding-bottom: 150px;
}
.sec-8-box{
	width: 520px;
	height: 230px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
}
.sec-8-title{
	width: 440px;
	height: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
}
.sec-8-title > h5{
	font-size: 28px;
	color: #FFB243;
	font-family: 'Cookie', cursive;
}
.sec-8-title > h2{
	font-size: 40px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
}
/* input */
.form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.input-8{
	width: 450px;
	height: 50px;
	border-radius: 50px 0 0 50px;
	-webkit-box-shadow: 0 3px 20px;
	        box-shadow: 0 3px 20px;
	border: 0px;
	outline: none;
	padding-left: 30px;
	font-size: 18px;
	color: #B7B7B7;
	font-family: 'Poppins', sans-serif;
}
.button-8{
	width: 60px;
	height: 50px;
	border-radius: 0 50px 50px 0;
	border: none;
	background-color: #8CB560;
	-webkit-box-shadow: 0 5px 20px;
	        box-shadow: 0 5px 20px;
    cursor: pointer;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.button-8:hover{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	background-color: #70a736;
}
/* end section 8 */

/* start footer */

.footer{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 100px;
}

.footer-box1{
	width: 370px;
	height: 210px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-box1 > img{
	width: 84px;
	height: 45px;
}
.footer-box1 > p{
	font-size: 24px;
	color: #585858;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 35px;
}
.social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #8CB560;
}
.fb{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 40px;
	height: 40px;
	background-color: #8CB560;
	color: white;
	border-radius: 10px;
}
.fb:hover{
	background-color: #70a736;
}
.footer-menu{
	width: 130px;
}
.tite{
	height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.tite > a{
	font-size: 24px;
	color:  #585858;
	font-family: 'Josefin Sans', sans-serif;
}
.footer-tittles{ 	
	font-size: 25px;
	color: #212529;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 20px;
}
footer > img{
	display: block;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}


/* end footer */